<h1 align=center><font size=5>Data Analysis with Python</font></h1>

<h1>Data Preprocessing</h1>

<h3>Welcome!</h3>

By the end of this notebook, you will have learned the basics of Data Preprocessing!

Data Preprocessing is the process of converting data from the initial format to a format that may be better for analysis.

<h4>Import Libraries</h4>

In [334]:
# Write your code below 
import pandas as pd # used for importing and managing the dataset 
import numpy as np # used for any kind of scientific and mathematical computation

Use the Pandas method <b>read_csv()</b> to load the data (mydataset_2). The dataset is available in the same drive

In [408]:
# Write your code below "mydataset.csv"

<h3>To check the dimensions of the dataset</h3>

(207, 26)

<b>Observation: </b>The dataset has 204 records and 26 fields

### use the following titles for your dataset

"symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","car-price"

 Python list <b>headers</b> containing name of headers

In [412]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","car-price"]

In [414]:
# Write your code below to add column names to the dataset
df.columns = headers

 Use the method <b>head()</b> to display the first five rows of the dataframe.

In [1]:
# To see what the data set looks like, we'll use the head() method.

In [ ]:
# To see what the data set looks like, we'll use the head() method.

In [20]:
#descriptive statistics

In [18]:
# Lets see insight our dataset

<h3> To check for duplicated rows in the dataset</h3>

In [424]:
#Now lets check if we have dublicate rows in our data

Number of duplicate rows: 3

<b>Observation:</b> We can see that there are 3 rows that have been repeated

In [16]:
# Display duplicate rows

Remove the duplicated rows

In [431]:
#Now lets check if we have removed the dublicate rows in our data

Number of duplicate rows: 0

<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B

In [378]:
# Write your code below 
# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,car-price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [380]:
# Write your code below

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,car-price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

"True" stands for missing value, while "False" stands for not missing value.

<h4>Count missing values in each column using <b>.isnull().sum()</b></h4>

<h4>Count missing values in each column using <b>.value_counts()</b></h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values. 
</p>

In [5]:
# Write your code below

Based on the summary above, each column has 201 rows of data, seven columns containing missing data:
<ol>
    <li>"normalized-losses": 40 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"car-price": 4 missing data</li>
</ol>

<b>Observation:</b> We can see that there are NO rows that have been repeated

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 40 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

To see which values are present in a particular column, please use the ".value_counts()" method:

In [84]:
# Write your code below for "num-of-doors"
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

As you can see that four doors are the most common type.

The replacement procedure is very similar to what we have seen previously

In [191]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace = True)

C:\Users\Thinkpad\AppData\Local\Temp\ipykernel_24516\241738916.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["num-of-doors"].replace(np.nan, "four", inplace = True)

<b>Drop the whole row:</b>
<ul>
    <li>"car-price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

Finally, let's drop all rows that do not have price data:

In [7]:
# simply drop whole row with NaN in "car-price" column


# reset index, because we droped four rows

<h4> To confirm if all the missing values have been dealt with </h4>

<b>Good!</b> Now, we obtain the dataset with no missing values.

<h3 id="correct_data_format">Correct data format</h3>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Lets list the data types for each column</h4>

In [14]:
# Your code here

As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, **'bore'** and **'stroke'** variables are numerical values that describe the engines, so we should expect them to be of the type *'float'* or *'int'*; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.

<h4>Convert data types to proper format</h4>

In [10]:
# Write your code below for "bore" and "stroke" features
# According to mine, stroke and bore are are of float type. However, car-price is an object which needs conversion

<h4>List the columns after the conversion</h4>

In [12]:
# Write your code below

<b>Wonderful!</b>

Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.